/*首部导航*/
header nav {
    background-color: #F5F5F7;
}
#page {
    height: 100vh;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    height: 44px;
    line-height: 44px;
    padding-left: 22px;
    padding-right: 22px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.header-nav > li {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    height: 44px;
    min-width: 36px;
    cursor: pointer;
}

.nav-title {
    z-index: 1;
}

.header-nav li svg {
    vertical-align: middle;
}

.header-nav #apple-logo {
    position: absolute;
    top: 12px;
}

.header-nav .nav-submenu {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 100vw;
    z-index: -1;
    background-color: #F5F5F7;
    transition-duration: 0.5s;
    overflow: hidden;
}

.header-nav :nth-child(2):hover .nav-submenu {
    z-index: 0;
    height: 450px;
}

.nav-submenu .wrap {
    width: 960px;
    margin: 50px auto 0;
}

.nav-submenu .submenu-title {
    opacity: 0.7;
}

.submenu-store {
    display: flex;
}

.submenu-store :nth-child(1) ul {
    font-size: 20px;
    font-weight: 700;
    width: 250px;
}

.submenu-store :nth-child(2) ul {

    font-weight: 550;
    width: 160px;
}

.submenu-store :nth-child(3) ul li {
    height: 30px;
}

.submenu-store :nth-child(3) ul {

    font-weight: 550;
    width: 160px;
}

.submenu-store :nth-child(2) ul li {
    height: 30px;
}


.banner {
    height: 500px;
    padding: 16px 0;
    background-color: #4E6EF2;

}



