
body{
    width: 1905px;
    margin: 0 auto;
}

.bili-header {
    margin: 0 auto;
    height: 300px;
    color: white;
    width: 1905px;
}
.bili-header-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    overflow: hidden;
    margin: 0 auto;
    width: 1905px;
}

/*横幅*/
.bili-header-banner {
    position: relative;
    height: 180px;
    background-image: url("/uploads/bili-banner.png");
    background-size: contain;
    box-shadow: inset 0 64px 30px 1px rgba(0, 0, 0, 0.3);
    z-index: -1;
    margin: 0 auto;
    width: 1905px;
}

.bili-banner-logo {
    width: 162px;
    height: 78px;
    position: absolute;
    bottom: 20px;
    left: 120px;
}

/*左导航栏*/
.bili-header-left-nav {
    display: flex;
    width: 567px;
    justify-content: space-between;
    align-items: center;
}

.bili-header-left-nav li {
    cursor: pointer;
    transition-duration: 0.1s;
}

.nav-item-jump:hover {
    transform: translateY(-4px);
}

/*搜索框*/

.bili-search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 40px;
    background-color: rgb(227, 229, 231);
    border-radius: 8px;
    padding: 4px;
}

.bili-search-input {
    width: 446px;
    outline: none;
    background-color: rgb(227, 229, 231);
    height: 32px;
    border: none;
    border-radius: 6px;
    padding: 0 8px;
}

.nav-search-btn {
    position: relative;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    cursor: pointer;
}

.icon-sousuo {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*右导航栏*/
.bili-header-right-nav {
    display: flex;
    width: 472px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.bili-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url("/uploads/cat.jpg");
    background-size: contain;
}

.bili-header-right-nav li {
    cursor: pointer;
}

.bili-header-right-nav i {
    display: block;
    transition-duration: 0.1s;
}

.bili-header-right-nav li :hover.iconfont {
    transform: translateY(-4px);
}

.upload-btn {
    background-color: rgb(251, 114, 153);
    border: none;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    height: 34px;
    width: 100px;
    border-radius: 8px;
}


/*频道*/
.bili-header-channel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 140px;
    width: 1905px;
    margin: 0 auto;
}

.channel-icon {
    display: flex;
    width: 142px;
    height: 72px;
    color: black;
    text-align: center;
}

.channel-icon-item {

    margin-right: 24px;
}

.channel-icon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.channel-icon-item .left-img {
    background-color: orange;
}

.channel-icon-item .right-img {
    background-color: rgb(240, 119, 117);
}

.channel-icon-img .iconfont {
    color: white;
    font-size: 24px;
}


/*左频道*/
.channel-items-left {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 30px);
    grid-gap: 14px 10px;
    width: 1176px;
    height: 74px;
    line-height: 30px;
    text-align: center;


}

.channel-items-left a {
    background-color: rgb(246, 247, 248);
    border-radius: 8px;
    color: rgb(97, 102, 109);
}

.channel-items-left a:hover {
    background-color: #CCCCCC;
    color: #303033;
}


/*右频道*/
.channel-items-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 30px);
    grid-gap: 14px 0;
    width: 258px;
    height: 74px;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid #A3A3A4;

}

.channel-items-right a {
    color: rgb(97, 102, 109);

}

/*视频区*/
.bili-video-list {
    width: 1905px;
    margin: 0 auto;
    display: grid;
    padding: 0 140px;
    grid-template-columns:repeat(5, 309px);
    grid-template-rows: repeat(4, 248px);
    grid-gap: 20px;
}

.bili-video-item {
    height: 174px;

}

.bili-video-desc {
    line-height: 44px;
    height: 44px;

}

.bili-video{
    color: rgb(24, 25, 28);
    font-size: 15px;
    font-weight: 400;
}
.bili-video-up{
    height: 30px;
    color: rgb(148, 153, 160);
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.bili-video-item img{
    height: 174px;
    width: 100%;
}





/*轮播图*/

.bili-slideshow {
    position: relative;
    grid-column: 1/3;
    grid-row: 1/3;
    color: black;

}
.bili-slideshow-window {
    position: relative;
    width: 638px;
    height: 443px;
    overflow: hidden;


}
.bili-slideshow-btn{
    position: absolute;
    right: 15px;
    bottom: 110px;
}
.bili-slideshow-btn button{
    width: 28px;
    height: 28px;
    color: white;
    border: none;
    background-color:rgba(255,255,255,0.2);
    border-radius: 8px;
}
.slideshow-item-list{
    left: 0;
    position: absolute;
    display: flex;
    height: inherit;
    transition-duration: 0.5s;
    transform: translateX(-638px);

}
.slideshow-item{
    height: inherit;
    min-width:638px ;
}
.slideshow-item img{
    width:638px;
    height: 443px;
}



