body {
  height: 100vh;
  overflow: hidden;
}
.body-active {
  background-color: rgba(0, 0, 0, 0.1);
}
.google-logo {
  margin: 0 auto;
  text-align: center;
  margin-top: 125px;
}
.google-search {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 40px auto 0;
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
  height: 50px;
  border-radius: 24px;
  min-width: 300px;
 
}
.search-img {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 32px;
  height: 100%;

}
.search-input {
  background-color: transparent;
  height: 100%;
  width: 82%;
  border: none;
  outline: none;
  font-size: 16px;

}
.shortcuts {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 20px auto 0;
  flex-wrap: wrap;
  min-width: 300px;
}
.short-name {
  font-size: 12px;
}

.pop-content {
  background-color: white;
  padding: 0px 20px;
  position: fixed;
  width: 540px;
  height: 260px;
  border-radius: 9px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  visibility: hidden;
}
.pop-active {
  visibility: visible;
}
.input-title {
  font-size: 12px;
  font-weight: 400;
}
.pop-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
}
.pop-input input {
  outline: none;
  padding: 10px;
  border: none;
  border-bottom: 2px solid gray;
  background-color: rgba(0, 0, 0, 0.08);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 40px;
  width: 100%;
}
.pop-input input:focus {
  border-color: blue;
}
.pop-btns button {
  margin-left: 20px;
  float: right;
  font-weight: 600;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 60px;
  height: 35px;
  cursor: default;
}
#pop-cancel {
  color: rgb(6, 126, 230);
  cursor: pointer;

  border-color: rgba(6, 126, 230, 0.5);
}
#pop-cancel:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.pop-confirm-active {
  color: rgb(6, 126, 230);
  border-color: rgba(6, 126, 230, 0.5) !important;
  cursor: pointer !important;
}


.add-shortcut{
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
.shortcut-item {
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.add-shortcut:hover,.shortcut-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.add-short-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(177, 216, 248);
  font-size: 30px;
  text-align: center;
}

.short-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  font-size: 30px;
  text-align: center;
}
.short-img img{
  width: 24px;
  height: 24px;

}